/* the look of the body */
body {
    font-family: Arial, sans-serif;
    background-color: #42a9cb;
    margin: 0;
    padding: 20;
}
/* how the container will look */
.container {
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    background-color: #64e51e;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* how all the h1 headers will look */
h1 {
    color: #333;
}

input[type="file"],
input[type="text"],
button {
    margin: 10px 0;
    padding: 20px;
    font-size: 20px;
    width: 80%;
    max-width: 400px;
}


.meme-container {
    position: relative;
    margin-top: 40px;
}

#meme-canvas {
    max-width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button {
    cursor: pointer;
    background-color: #ff0000;
    color: #fff;
    border: dotted;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
